<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.cs2c.vcenter.Application">
         </run>
      </application>
   </extension>
   <extension
         id="perspectives"
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.cs2c.vcenter.Perspective"
            icon="icons/nginx.png"
            id="org.cs2c.vcenter.perspective"
            name="Nginx Perspective">
      </perspective>
   </extension>
   <extension
         id="views"
         point="org.eclipse.ui.views">
      <view
            class="org.cs2c.vcenter.views.MiddlewareView"
            icon="icons/nginx_view.png"
            id="org.cs2c.vcenter.views.MiddlewareView"
            name="Middleware View"
            restorable="true">
      </view>
   </extension>
   <extension
         id="editors"
         point="org.eclipse.ui.editors">
      <editor
            class="org.cs2c.vcenter.editors.NginxBasicEditor"
            icon="icons/alt_window_16.gif"
            id="org.cs2c.vcenter.editors.NginxBasicEditor"
            name="Nginx Basic Info Editor">
      </editor>
      <editor
            class="org.cs2c.vcenter.editors.MonitorFace"
            default="false"
            id="org.cs2c.vcenter.editors.MonitorFace"
            name="Host Monitor">
      </editor>
      <editor
            class="org.cs2c.vcenter.editors.HttpEditor"
            default="false"
            id="org.cs2c.vcenter.editors.HttpEditor"
            name="Http Editor">
      </editor>
      <editor
            class="org.cs2c.vcenter.editors.ServerEditor"
            default="false"
            id="org.cs2c.vcenter.editor.ServerEditor"
            name="Server Editor">
      </editor>
      <editor
            class="org.cs2c.vcenter.editors.LocationEditor"
            default="false"
            id="org.cs2c.vcenter.editors.LocationEditor"
            name="LocationEditor">
      </editor>
      <editor
            class="org.cs2c.vcenter.editors.UpstreamEditor"
            default="false"
            id="org.cs2c.vcenter.editors.UpstreamEditor"
            name="UpstreamEditor">
      </editor>
      <editor
            class="org.cs2c.vcenter.editors.LogEditor"
            default="false"
            id="org.cs2c.vcenter.editors.LogEditor"
            name="LogEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.cs2c.vcenter.popup.IProject"
            objectClass="org.cs2c.vcenter.views.models.IProject">
         <action
               class="org.cs2c.vcenter.popup.actions.StartAction"
               icon="icons/start.png"
               id="org.cs2c.vcenter.StartAction"
               label="Start">
         </action>
         <action
               class="org.cs2c.vcenter.popup.actions.ShutdownAction"
               icon="icons/shutdown.png"
               id="org.cs2c.vcenter.ShutdownAction"
               label="Shutdown">
         </action>
         <action
               class="org.cs2c.vcenter.popup.actions.RestartAction"
               icon="icons/restart.png"
               id="org.cs2c.vcenter.RestartAction"
               label="Restart">
         </action>
         <action
               class="org.cs2c.vcenter.popup.actions.ReloadConfigureAction"
               icon="icons/reload.png"
               id="org.cs2c.vcenter.ReloadConfigureAction"
               label="Reload Configure">
         </action>
         <action
               class="org.cs2c.vcenter.popup.actions.OpenMonitorAction"
               icon="icons/monitor.png"
               id="org.cs2c.vcenter.OpenMonitorAction"
               label="Open Monitor">
         </action>
         <action
               class="org.cs2c.vcenter.popup.actions.BasicConfigure"
               icon="icons/configure.png"
               id="org.cs2c.vcenter.BasicConfigure"
               label="Configure...">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.cs2c.vcenter.popup.IHttp"
            objectClass="org.cs2c.vcenter.views.models.IHttp">
         <menu
               id="org.cs2c.vcenter.popup.HttpNewMenu"
               label="New"
               path="additions">
            <separator
                  name="add">
            </separator>
         </menu>
         <action
               class="org.cs2c.vcenter.popup.actions.HttpConfigureAction"
               icon="icons/configure.png"
               id="org.cs2c.vcenter.HttpConfigureAction"
               label="Configure...">
         </action>
         <action
               class="org.cs2c.vcenter.popup.actions.NewServerAction"
               icon="icons/server_add.png"
               id="org.cs2c.vcenter.NewServerAction"
               label="Server..."
               menubarPath="org.cs2c.vcenter.popup.HttpNewMenu/add">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.cs2c.vcenter.popup.IServer"
            objectClass="org.cs2c.vcenter.views.models.IServer">
         <action
               class="org.cs2c.vcenter.popup.actions.DeployAction"
               icon="icons/deploy.png"
               id="org.cs2c.vcenter.DeployAction"
               label="Deploy...">
         </action>
         <action
               class="org.cs2c.vcenter.popup.actions.DeleteAction"
               icon="icons/delete.png"
               id="org.cs2c.vcenter.DeleteAction"
               label="Delete...">
         </action>
         <action
               class="org.cs2c.vcenter.popup.actions.NewLocationAction"
               icon="icons/location_add.png"
               id="org.cs2c.vcenter.NewLocationAction"
               label="Location..."
               menubarPath="org.cs2c.vcenter.popup.ServerNewMenu/add">
         </action>
         <action
               class="org.cs2c.vcenter.popup.actions.ServerConfigureAction"
               icon="icons/configure.png"
               id="org.cs2c.vcenter.ServerConfigureAction"
               label="Configure...">
         </action>
         <menu
               id="org.cs2c.vcenter.popup.ServerNewMenu"
               label="New">
            <separator
                  name="add">
            </separator>
         </menu>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.cs2c.vcenter.popup.ILocation"
            objectClass="org.cs2c.vcenter.views.models.ILocation">
         <action
               class="org.cs2c.vcenter.popup.actions.DeleteLocationAction"
               icon="icons/delete.png"
               id="org.cs2c.vcenter.DeleteLocationAction"
               label="Delete...">
         </action>
         <action
               class="org.cs2c.vcenter.popup.actions.LocationConfigureAction"
               icon="icons/configure.png"
               id="org.cs2c.vcenter.LocationConfigureAction"
               label="Configure...">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.cs2c.vcenter.popup.IUpstreamInstance"
            objectClass="org.cs2c.vcenter.views.models.IUpstreamInstance">
         <action
               class="org.cs2c.vcenter.popup.actions.DeleteUpstreamAction"
               icon="icons/delete.png"
               id="org.cs2c.vcenter.DeleteUpstreamAction"
               label="Delete...">
         </action>
         <action
               class="org.cs2c.vcenter.popup.actions.UpstreamConfigureAction"
               icon="icons/configure.png"
               id="org.cs2c.vcenter.UpstreamConfigureAction"
               label="Configure...">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.cs2c.vcenter.popup.IUpstream"
            objectClass="org.cs2c.vcenter.views.models.IUpstream">
         <action
               class="org.cs2c.vcenter.popup.actions.NewUpstreamAction"
               icon="icons/upstream_add.png"
               id="org.cs2c.vcenter.NewUpstreamAction"
               label="Upstream"
               menubarPath="org.cs2c.vcenter.popup.UpstreamNewMenu/add">
         </action>
         <menu
               id="org.cs2c.vcenter.popup.UpstreamNewMenu"
               label="New">
            <separator
                  name="add">
            </separator>
         </menu>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.cs2c.vcenter.popup.ILogsInstance"
            objectClass="org.cs2c.vcenter.views.models.ILogsInstance">
         <action
               class="org.cs2c.vcenter.popup.actions.OpenLogAction"
               id="org.cs2c.vcenter.OpenLogAction"
               label="Open...">
         </action>
         <action
               class="org.cs2c.vcenter.popup.actions.DeleteLogAction"
               icon="icons/delete.png"
               id="org.cs2c.vcenter.DeleteLogAction"
               label="Delete...">
         </action>
      </objectContribution>
   </extension>

</plugin>
