<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.cs2c.vcenter.Application">
         </run>
      </application>
   </extension>
   <extension
         id="perspectives"
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.cs2c.vcenter.Perspective"
            icon="icons/alt_window_16.gif"
            id="org.cs2c.vcenter.perspective"
            name="Nginx Perspective">
      </perspective>
   </extension>
   <extension
         id="views"
         point="org.eclipse.ui.views">
      <view
            class="org.cs2c.vcenter.views.MiddlewareView"
            icon="icons/alt_window_16.gif"
            id="org.cs2c.vcenter.views.MiddlewareView"
            name="Middleware View"
            restorable="true">
      </view>
   </extension>
   <extension
         id="editors"
         point="org.eclipse.ui.editors">
      <editor
            class="org.cs2c.vcenter.editors.NginxBasicEditor"
            icon="icons/alt_window_16.gif"
            id="org.cs2c.vcenter.editors.NginxBasicEditor"
            name="Nginx Basic Info Editor">
      </editor>
      <editor
            class="org.cs2c.vcenter.editors.MonitorFace"
            default="false"
            id="org.cs2c.vcenter.editors.MonitorFace"
            name="Host Monitor">
      </editor>
      <editor
            class="org.cs2c.vcenter.editors.HttpEditor"
            default="false"
            id="org.cs2c.vcenter.editors.HttpEditor"
            name="Http Editor">
      </editor>
      <editor
            class="org.cs2c.vcenter.editors.ServerEditor"
            default="false"
            id="org.cs2c.vcenter.editor.ServerEditor"
            name="Server Editor">
      </editor>
      <editor
            class="org.cs2c.vcenter.editors.LocationEditor"
            default="false"
            id="org.cs2c.vcenter.editors.LocationEditor"
            name="LocationEditor">
      </editor>
      <editor
            class="org.cs2c.vcenter.editors.UpstreamEditor"
            default="false"
            id="org.cs2c.vcenter.editors.UpstreamEditor"
            name="UpstreamEditor">
      </editor>
      <editor
            class="org.cs2c.vcenter.editors.LogEditor"
            default="false"
            id="org.cs2c.vcenter.editors.LogEditor"
            name="LogEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.cs2c.vcenter.popup.IProject"
            objectClass="org.w3c.dom.Node">
         <action
               class="org.cs2c.vcenter.popup.actions.OpenMonitorAction"
               enablesFor="1"
               id="org.cs2c.vcenter.OpenMonitorAction"
               label="Open Monitor"
               menubarPath="additions">
         </action>
         <action
               class="org.cs2c.vcenter.popup.actions.StartAction"
               id="org.cs2c.vcenter.StartAction"
               label="Start">
         </action>
         <action
               class="org.cs2c.vcenter.popup.actions.ShutdownAction"
               id="org.cs2c.vcenter.ShutdownAction"
               label="Shutdown">
         </action>
         <action
               class="org.cs2c.vcenter.popup.actions.RestartAction"
               id="org.cs2c.vcenter.RestartAction"
               label="Restart">
         </action>
         <action
               class="org.cs2c.vcenter.popup.actions.ReloadConfigureAction"
               id="org.cs2c.vcenter.ReloadConfigureAction"
               label="Reload Configure">
         </action>
         <action
               class="org.cs2c.vcenter.popup.actions.BasicConfigure"
               id="org.cs2c.vcenter.BasicConfigure"
               label="Basic Configure...">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.cs2c.vcenter.popup.IHttp"
            objectClass="java.lang.Object">
         <menu
               id="org.cs2c.vcenter.popup.HttpNewMenu"
               label="New..."
               path="additions">
         </menu>
         <action
               class="org.cs2c.vcenter.popup.actions.NewServerAction"
               id="org.cs2c.vcenter.NewServerAction"
               label="Server..."
               menubarPath="org.cs2c.vcenter.popup.HttpNewAction">
         </action>
         <action
               class="org.cs2c.vcenter.popup.actions.HttpConfigureAction"
               id="org.cs2c.vcenter.HttpConfigureAction"
               label="Configure...">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.cs2c.vcenter.popup.IServer"
            objectClass="java.lang.Object">
         <action
               class="org.cs2c.vcenter.popup.actions.NewLocationAction"
               id="org.cs2c.vcenter.NewLocationAction"
               label="Location...">
         </action>
         <action
               class="org.cs2c.vcenter.popup.actions.DeployAction"
               id="org.cs2c.vcenter.DeployAction"
               label="Deploy...">
         </action>
         <action
               class="org.cs2c.vcenter.popup.actions.DeleteAction"
               id="org.cs2c.vcenter.DeleteAction"
               label="Delete...">
         </action>
         <action
               class="org.cs2c.vcenter.popup.actions.NewLocationAction"
               id="org.cs2c.vcenter.NewLocationAction"
               label="Location...">
         </action>
         <action
               class="org.cs2c.vcenter.popup.actions.ServerConfigureAction"
               id="org.cs2c.vcenter.ServerConfigureAction"
               label="Configure...">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.cs2c.vcenter.popup.ILocation"
            objectClass="java.lang.Object">
         <action
               class="org.cs2c.vcenter.popup.actions.DeleteLocationAction"
               id="org.cs2c.vcenter.DeleteLocationAction"
               label="Delete...">
         </action>
         <action
               class="org.cs2c.vcenter.popup.actions.LocationConfigureAction"
               id="org.cs2c.vcenter.LocationConfigureAction"
               label="Configure...">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.cs2c.vcenter.popup.IUpstreamInstance"
            objectClass="java.lang.Object">
         <action
               class="org.cs2c.vcenter.popup.actions.DeleteUpstreamAction"
               id="org.cs2c.vcenter.DeleteUpstreamAction"
               label="Delete...">
         </action>
         <action
               class="org.cs2c.vcenter.popup.actions.UpstreamConfigureAction"
               id="org.cs2c.vcenter.UpstreamConfigureAction"
               label="Configure...">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.cs2c.vcenter.popup.IUpstream"
            objectClass="java.lang.Object">
         <action
               class="org.cs2c.vcenter.popup.actions.NewUpstreamAction"
               id="org.cs2c.vcenter.NewUpstreamAction"
               label="Upstream">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.cs2c.vcenter.popup.ILogsInstance"
            objectClass="java.lang.Object">
         <action
               class="org.cs2c.vcenter.popup.actions.OpenLogAction"
               id="org.cs2c.vcenter.OpenLogAction"
               label="Open...">
         </action>
         <action
               class="org.cs2c.vcenter.popup.actions.DeleteLogAction"
               id="org.cs2c.vcenter.DeleteLogAction"
               label="Delete...">
         </action>
      </objectContribution>
   </extension>

</plugin>
